<div class="messina-column" style="padding-top:{{ section.settings.space_top }};padding-bottom:{{ section.settings.space_bottom }};background-color:{{ section.settings.background_color }}">
   <div class="messina-row-container">
        {% for block in section.blocks %}
            <div class="messina-item" id="messina-{% increment count %}">
                <div class="messina-content-overlay"></div>
                <a href="{{ block.settings.link_url }}">
                  <div class="messina-item-imgsec" style="background-image:url(https:{{ block.settings.image | img_url: '700x' }})">
                    <div class="messina-content">
                    <h3>{{ block.settings.heading }}</h3>    
                    </div>
                  </div>
                </a>
            </div>
        {% endfor %}
   </div>
</div>

{% schema %}
{
  "name": "Messina Slider",
  "settings": [
     {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
      "id": "link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "settings": [
		{
          "type": "color",
          "id": "background_color",
          "label": "Background colour",
          "default": "#FFF"
        },
        {
          "id": "space_top",
          "type": "text",
          "label": "Margin top",
		  "default": "30px"
        },
        {
          "id": "space_bottom",
          "type": "text",
          "label": "Margin bottom",
		  "default": "30px"
        }
   ],
  "presets": [
     {
       "name": "Messina Slider"
     }
   ]
}
{% endschema %}


<style>
#shopify-section-{{ section.id }} .messina-column{
  padding:30px 15px;
}
  #shopify-section-{{ section.id }} .messina-item {
  position: relative;
  overflow: hidden;
}
  #shopify-section-{{ section.id }} .messina-item .messina-content-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 95%;
    width: 96%;
    left: 10px;
    top: 11px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
#shopify-section-{{ section.id }} .messina-item:hover .messina-content-overlay{
  opacity: 1;
}
#shopify-section-{{ section.id }} .messina-content {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  max-width:230px;
  top: 80%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
  #shopify-section-{{ section.id }} .messina-item:hover .content{
  top: 80%;
  left: 80%;
  opacity: 1;
}
#shopify-section-{{ section.id }} .messina-row-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
}
#shopify-section-{{ section.id }} .messina-item {
    width: 100%;
}
 #shopify-section-{{ section.id }} .messina-row-container .messina-item-imgsec {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end !important;
    justify-content: center;
    padding: 15px;
    
}
#shopify-section-{{ section.id }} .messina-item h3 {
      color: #000;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-shadow: 0 0 1px #000;
    font-size: 18px;
    margin-bottom: 0;
    padding: 5px 30px;
    background: #fff;
    border-radius: 10px;
    font-weight: 600 !important;
}
@media screen and (min-width:768px){
 #shopify-section-{{ section.id }} .slick-list.draggable {
    width: 100% !important;
}
#shopify-section-{{ section.id }} .slick-track {
    width: 100% !important;
}
div#messina-0, div#messina-1, div#messina-2 {
    width: 33.33% !important;
    padding:10px;
}
}
@media screen and (max-width:767px){
    #shopify-section-{{ section.id }} .messina-item .messina-content-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
}
</style>

<script>
  $('.messina-row-container').slick({
    infinite: true,
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    dots: false,
    arrows: false,
    prevArrow:"<button type='button' class=''><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class=''><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
    responsive: [

      {
          breakpoint: 768,
          settings: {
            arrows: true,
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
           breakpoint: 400,
           settings: {
              arrows: true,
              dots: true,
              slidesToShow: 1,
              slidesToScroll: 1
           }
        }]
});
</script>