{%  if section.blocks.size > 0 %}
  <div class="tabs-section page-width">
    <link rel="stylesheet" data-href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script type="lazyload_int" data-src="//code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    {%  if section.settings.useslider %}
      <script type="lazyload_int" data-src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    
    <link rel="stylesheet" type="text/css" data-href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" data-href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    {%  endif %}
    {%  if section.settings.title != blank %}
      <h2 class="h1">{{ section.settings.title }}</h2>
      <a class="view-collection" href="{{ section.settings.link }}"><p style="text-align: center;">{{ section.settings.subtitle }}</p></a>
    {%  endif  %}
    <div id="tabs" class="tabs">
      {%  assign tabContent = '' %}
      <ul id="tab-slider" class="demo">
      {%  for block in section.blocks %}
       {%  assign collection = collections[block.settings.collection] %}
        <li class="demo_new"><a href="#tabs-{{ collection.id }}">{{ collection.title  }}</a></li>
        {%  capture content  %}
            <div id="tabs-{{ collection.id }}">
              <ul class="grid product-grid grid--2-col-tablet-down  grid--4-col-desktop">
               {%- for product in block.settings.collection.products limit: 10 -%}
                {% include 'product-block' with product, manual_image_load: section.settings.use_carousel, no_quick_buy_markup: section.settings.use_carousel %}
              {%- endfor -%}
              </ul>
             {%  if block.settings.viewall %}
               <div class="center collection__view-all scroll-trigger animate--slide-in" >
                 <a class="button" href="{{ block.settings.collection.url }}"> View all </a>
               </div>
               {%  endif  %}
            </div>
        {%  endcapture %}
        {%  assign tabContent = tabContent | append: content %}
      {%  endfor %}  
      </ul>   
      {{ tabContent }}
    </div> 
    <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
    <span class="slider__label sr-only">
  </span>
</div>
  </div> 
 

  
    <script type="lazyload_int">
  $( function() {
    {%  if section.settings.useslider %}
    function tabSlider(){
          $('.tabs .product-grid.slick-initialized ').slick('unslick');
          $('.tabs .product-grid ').slick({
            dots: false,
            arrows: true,
            infinite: false,
            speed: 300,
            slidesToShow: 6,
            slidesToScroll: 1,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 4,
                  slidesToScroll: 3,
                  infinite: true
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
                }
              }
            
            ]
          });
    }
        {%  endif %}
    $( "#tabs" ).tabs({
      create: function( event, ui ) {
         {%  if section.settings.useslider %}
       tabSlider()
            {%  endif %}
      },
      activate: function( event, ui ) {
        {%  if section.settings.useslider %}
       tabSlider()
            {%  endif %}
      }
    });
  
  } );
  </script>
   <!-- <script>
     
     $(document).ready(function(){
      $('.demo').slick({
        slidesToShow: 8,
        slidesToScroll: 1,
        arrows:true,
        speed: 300,
        infinite: true,
        autoplaySpeed: 5000,
        autoplay: false,
        vrtical: true,
        vrticalSwiping: true,
        responsive: [
       {
        breakpoint: 1024,
        settings: {
        slidesToShow: 3,
        }
      },
      {
        breakpoint: 768,
        settings: {
        slidesToShow: 3,
        }
      },
          {
        breakpoint: 425,
        settings: {
        slidesToShow: 2,
        }
      }
    ]
      });
    });
   </script> -->
  
  <style>
  .collection__view-all{
    display: none !important;
}
    .tabs .slick-track .grid__item  {
      padding: 0 5px;
    }
    .tabs .slick-next {
      right: -2%;
    }
     .tabs .slick-prev {
      left: -4%;
    } 
      
    .tabs .slick-next,.tabs .slick-prev {
      transform: none;
      top: -20px;
    }
    .tabs .slick-next::before,.tabs .slick-prev::before { color: #000;}
    .tabs .slick-slider{ margin: 0 -5px;}
    .tabs .collection__view-all  a{ color: white!important;}
    .tabs { background: none!important;border: none!important}
    
    .tabs-section h2 {
      text-align: center;
    }
    .tabs.ui-tabs .ui-tabs-nav li {
      border: none;
      background: none;
    }
    .tabs.ui-tabs .ui-tabs-nav li  a{
      padding: 5px 30px;
       color: #000;
      border: 1px solid #000000;
      border-radius: 8px;
      margin: 10px 10px
    }
    .tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #000;
    border: 1px solid #000000;
    border-radius: 8px;
    } 
    .ui-widget-header{
      background-color: #fff !important;
      border: none !important;
    }
 #shopify-section-{{ section.id }} .product-block .vendor {
    font: medium 12px Forma DJR Display;
    letter-spacing: 0px;
    color: #707070 !important;
    opacity: 1;
    text-transform: uppercase;
     margin: 5px 0 0;
  font-weight:600;

}
  #shopify-section-{{ section.id }} a, #shopify-section-{{ section.id }} h2.h1 {
     letter-spacing: 0px;
  }
    html:not(.jsload) div#tabs:not(.ui-tabs) ul#tab-slider li.demo_new:nth-child(1) a{
      background-color:#f6de62 !important;
      color:#000 !important;
    }
    @media screen and (min-width:1400px{
      .tabs.ui-tabs .ui-tabs-nav {
      background: none;
      padding: 0;
      display: flex;
      justify-content: center;
      border: none;
    }
    }
    @media screeen and (max-width: 1300px){
      .tabs.ui-tabs .ui-tabs-nav {
        display: block !important;
         background: none;
          padding: 0;
        justify-content: center;
      border: none;
}
    }
  </style>
{%  endif %}  
{% schema %}
  {
    "name": "Tabs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
       {
        "type": "checkbox",
        "id": "useslider",
        "label": "Use slider",
        "default": true
      }
    ],
    "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "limit": 10,
    
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "checkbox",
        "id": "viewall",
        "label": "Show view all",
        "default": true
      }
    ]
  
    }
  ],
    "presets": [
    {
      "name": "Tabs",
      "blocks": []
    }
  ]
  }
{% endschema %}
<style>
#shopify-section-{{ section.id }} .slick-initialized .slick-slide {
    padding: 15px;
}

#shopify-section-{{ section.id }} ul#tab-slider button.slick-prev.slick-arrow, #shopify-section-{{ section.id }} ul#tab-slider button.slick-next.slick-arrow,
    #shopify-section-{{ section.id }} .tabs, #shopify-section-{{ section.id }} .slick-next, #shopify-section-{{ section.id }} .tabs .slick-prev {
    top: 35% !important;
}
#shopify-section-{{ section.id }} .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0px;
    color: #000000;
}
#shopify-section-{{ section.id }} span.money {
    color: #8a8f93;
    /* color: #014e70; */
    letter-spacing: 0;
    font-weight: 600;
}

#shopify-section-{{ section.id }} ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    display: flex;
    justify-content: center;
} 
#shopify-section-{{ section.id }} a.view-collection {
    color: #8a8f93; 
}
#shopify-section-{{ section.id }} .demo_new a {
    width: 100%;
    text-align: center;
    max-width: 140px !important;
    font-size: 13px;
}
#shopify-section-{{ section.id }} .tabs.ui-tabs .ui-tabs-nav li  a {
    padding: 10px 10px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 11px;
}
 #shopify-section-{{ section.id }} .demo_new {
    width: auto !important;
    padding: 0 5px !important;
} 
#shopify-section-{{ section.id }} .slick-track {
    display: flex;
    justify-content: center;
}
#shopify-section-ddbdbf17-6c1b-4903-85e0-79b3dd27b800 .slick-initialized .slick-slide {
    padding: 5px;
}
#shopify-section-{{ section.id }} {
    padding-top: 60px;
    background-color: #fff;
}
#shopify-section-{{ section.id }} .inner {
    text-align: left !important;
}
#shopify-section-{{ section.id }}  p {
    font-weight: 700!important;
}
#shopify-section-{{ section.id }} .product-block .product-info .price {
    margin: 0;
    font-size: 14px;
    color: #333;
    margin-top: 2px;
    font-weight: 400;
    line-height: 21px;
}
  ul#tab-slider a:hover {
    background: #f6de62;
    color:#000;
}
#shopify-section-{{ section.id }} .tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #000;
    background: #f6de62;
}
 @media screen and (max-width:425px){
#shopify-section-{{ section.id }} .tabs.ui-tabs .ui-tabs-nav li  a {
    padding: 9px 8px;
    margin: 10px 5px;
}
#shopify-section-{{ section.id }} .slick-track li a {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
   #shopify-section-{{ section.id }} ul#tab-slider .slick-track {
    display: flex;
    justify-content: flex-start;
    width: 40% !important;
}
 } 
  @media screen and (max-width:767px) {
#shopify-section-{{ section.id }} ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
   display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-y: hidden;
   overflow-x: scroll;
   padding-bottom: 10px;

} 
#shopify-section-{{ section.id }} .block-inner-inner {
    text-align: left;
}
#shopify-section-{{ section.id }} .slick-initialized .slick-slide {
    padding: 0 0px;
}
  #shopify-section-{{ section.id }}  .tabs-section h2 {
    font-size: 18px;
}
    #shopify-section-{{ section.id }} .tabs, #shopify-section-{{ section.id }} .slick-next, #shopify-section-{{ section.id }} .tabs .slick-prev {
    top: 25% !important;
}

    .div#tabs slick-track {
    position: relative;
    top: 0;
    left: 12px !important;
}
  #shopify-section-{{ section.id }}  .tabs-section h2.h1 {
    margin-bottom: 1px;
}
  }
  @media screen and (min-width:768px) and (max-width:1024px) {
#shopify-section-{{ section.id }} ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
  }
  @media screen and (max-width:425px){
       ul#tab-slider .slick-prev {
      left: 2%;
    }
ul#tab-slider .slick-next {
    right: 15px ;
}
 #shopify-section-{{ section.id }} .demo_new {
    padding: 0 6px !important;
}
    #shopify-section-{{ section.id }} .slick-list.draggable {
    max-width: 323px;
    margin: 0 auto;
}
    #shopify-section-{{ section.id }} li.demo_new.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.slick-slide {
        width: auto !important;
        padding: 0px 5px;
        margin: 0px 0px;
  }
  }
@media screen and (max-widht:375px){
ul#tab-slider .slick-prev {
   left: 16px !important;
    }
ul#tab-slider .slick-next {
    right: 16px !important;
}
  }
</style>
