<div class="two-column" style="padding-top:{{ section.settings.space_top }};padding-bottom:{{ section.settings.space_bottom }};background-color:{{ section.settings.background_color }}">
   
  <div class="two-row-container">

        {% for block in section.blocks %}  
                <div class="tcr-item1" id="carousel-{% increment count %}">
                                        <a href="{{ block.settings.link_url }}">
                  <div class="content-overlay"></div>

                          <div class="tcr-item-imgsec" style="background-image:url(https:{{ block.settings.image | img_url: 'master' }})"> 
                            <div class="two-content">
                               <h2>{{ block.settings.heading }}</h2> 
                            </div>
                          </div>
                        </a>
                </div>
          
        {% endfor %}
  </div>

</div>  

{% schema %}
{
  "name": "Two Column",
  "settings": [
     {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
      "id": "link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
       
        
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "URL"
        }
        
      ]
    }
  ],
  "settings": [
		{
          "type": "color",
          "id": "background_color",
          "label": "Background colour",
          "default": "#FFF"
        },
        {
          "id": "space_top",
          "type": "text",
          "label": "Margin top",
		  "default": "30px"
        },
        {
          "id": "space_bottom",
          "type": "text",
          "label": "Margin bottom",
		  "default": "30px"
        }
   ],
  "presets": [
     {
       "name": "Two Column"
     }
   ]
}
{% endschema %}




<style>
 #shopify-section-{{ section.id }} .two-column {
    padding: 0 15px;
}
#shopify-section-{{ section.id }} .slick-dots {
    bottom: 15px !important;
}
#shopify-section-{{ section.id }} .slick-dots li button:before {
    font-size: 10px !important; 
    color: #555555 !important;
  }
 #shopify-section-{{ section.id }} .slick-dots li.slick-active button:before {
    color: #fff !important;
}
#shopify-section-{{ section.id }}  .tcr-item1 {
  position: relative;
  overflow: hidden;
  width: 50%;
}
#shopify-section-{{ section.id }} .tcr-item1 h3:hover {
    background: #367bbb !important;
    color: #fff !important;
}
#shopify-section-{{ section.id }} .tcr-item1 .content-overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 98%;
  left: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#shopify-section-{{ section.id }} .tcr-item1:hover .content-overlay{
  opacity: 1;
}
  .two-content {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 80%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#shopify-section-{{ section.id }} .two-content {
    z-index: 999 !important;
}
  @media screen and (min-width:768px){
      #shopify-section-{{ section.id }} .two-row-container .slick-track {
      width: 1400px !important;
}
    div#slick-slide00 {
    width: 50% !important;
    padding: 0 8px 0 6px;
}
    div#slick-slide01 {
    width: 50% !important;
    padding: 0 6px 0 8px;
}
}
  
@media screen and (max-width:767px){
    #shopify-section-{{ section.id }} .two-row-container .tcr-item-imgsec {
    height: 400px !important;
}
   #shopify-section-{{ section.id }} .two-row-container .two-content h3 {
    background: #fff;
    color: #000 !important;
    padding: 10px 20px;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 10px;
}
  #shopify-section-{{ section.id }}  .tcr-item-imgsec h3 {
    font-size: 13px !important;
}
  #shopify-section-{{ section.id }} .tcr-item1 .content-overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
}
@media screen and (max-width:425px){
    #shopify-section-{{ section.id }} .two-row-container .tcr-item-imgsec {
    height: 350px !important;
}
}
@media screen and (min-width:768px){
    #shopify-section-{{ section.id }} .two-row-container .two-content h3 {
    padding: 5px 15px;
    background: #fff;
    color: #000 !important;
    max-width: 300px;
    border-radius: 10px;
    margin: 0 auto !important;
    font-size:16px !important;
}
  #shopify-section-{{ section.id }} .two-row-container .tcr-item-imgsec {
    height: 600px !important;
}
  #shopify-section-{{ section.id }} .two-content {
    top: 90% !important;
}
}


</style>

<script type="lazyload_int">
  $('.two-row-container').slick({
    infinite: true,
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    dots: true,
    arrows: false,
    prevArrow:"<button type='button' class=''><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class=''><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
    responsive: [
      {
          breakpoint: 768,
          settings: {
            arrows: true,
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
           breakpoint: 400,
           settings: {
              arrows: true,
              dots: true,
              slidesToShow: 1,
              slidesToScroll: 1
           }
        }]
});
</script>
