{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div id="this-collection" class="{{ collection.title }} {{ current_tags }}">

<h1>{{ collection.title }}</h1>
<div class="collection-desc show-read-more">{{ collection.description }}</div>
  
  
<div class="sub-menu for_Shop_All_">
    
<a href="{% if collection %}{{ collection.url }}{% else %}{{ routes.collections_url }}{% endif %}/shirt">Shirts</a><a href=" https://messinahembry.com/collections/all/jacket">Jackets</a><a href=" https://messinahembry.com/collections/all/jumper">Jumpers</a><a href=" https://messinahembry.com/collections/all/jeans">Jeans</a><a href=" https://messinahembry.com/collections/all/trousers">Trousers</a><a href=" https://messinahembry.com/collections/all/polo-shirt">Polo Shirts</a><a href=" https://messinahembry.com/collections/all/t-shirt">T-Shirts</a><a href="https://messinahembry.com/collections/all/shorts">Shorts</a><a href=" https://messinahembry.com/collections/all/tracksuit-top">Tracksuit Tops</a>
    
</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Clothing_">
    
<a href="https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/shirt">Shirts</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/jacket">Jackets</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/jumper">Jumpers</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/jeans">Jeans</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/trousers">Trousers</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/polo-shirt">Polo Shirts</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/t-shirt">T-Shirts</a><a href="https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/shorts">Shorts</a><a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/tracksuit-top">Tracksuit Tops</a>
    
</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Shirts_">

<a href="https://messinahembry.com/collections/mens-shirts?page=1&rb_snize_facet10=Stripe">Striped</a>
<a href="https://messinahembry.com/collections/mens-shirts?page=1&rb_snize_facet10=Check">Check</a>
<a href="https://messinahembry.com/collections/mens-shirts?page=1&rb_snize_facet10=Vintage">Vintage</a>
<a href="https://messinahembry.com/collections/mens-shirts?page=1&rb_snize_facet10=Slim+%2F+Fitted">Slim</a>
<a href="https://messinahembry.com/collections/mens-shirts?page=1&rb_snize_facet10=Denim">Denim</a>
<a href="https://messinahembry.com/collections/mens-shirts?page=1&rb_snize_facet10=Loose+Fit">Loose</a>

</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Jumpers__Knitwear_">

<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Crew+Neck">Crew Neck</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Zip+Neck">Zip Neck</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Polo+Neck">Polo Neck</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Roll+Neck">Roll Neck</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Fleece">Fleece</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Sportswear">Sportswear</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=V-Neck">V-Neck</a>
<a href="https://messinahembry.com/collections/mens-vintage-jumpers-and-knitwear?page=1&rb_snize_facet10=Vintage">Vintage</a>
<a href=" https://messinahembry.com/collections/mens-vintage-preloved-designer-clothing/tracksuit-top">Tracksuit Tops</a>

</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Coats__Jackets_">

    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet1=Jacket">Jackets</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet1=Blazer">Blazers</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet1=Gilet">Gilets</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet1=Coat">Coats</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet1=Waistcoat">Waistcoats</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet10=Windbreaker">Windbreakers</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet10=Waterproof">Waterproof</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet10=Leather">Suede & Leather</a>
    <a href="https://messinahembry.com/collections/mens-vintage-coats-and-jackets?page=1&rb_snize_facet10=Padded">Puffer/Padded</a>
    
</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_T-Shirts__Polo_Shirts_">

  <a href="https://messinahembry.com/collections/mens-t-shirts-polo-shirts?page=1&rb_snize_facet1=Polo+Shirt">Polo Shirts</a>
  <a href="https://messinahembry.com/collections/mens-t-shirts-polo-shirts?page=1&rb_snize_facet1=T-Shirt">T Shirts</a>
  <a href="https://messinahembry.com/collections/mens-t-shirts-polo-shirts?page=1&rb_snize_facet1=Vest">Vests</a>
  <a href="https://messinahembry.com/collections/mens-t-shirts-polo-shirts?page=1&rb_snize_facet10=Slim+%2F+Fitted">Slim/Fitted</a>
  <a href="https://messinahembry.com/collections/mens-t-shirts-polo-shirts?page=1&rb_snize_facet10=Long+Sleeve">Long Sleeve</a>
  <a href="https://messinahembry.com/collections/mens-t-shirts-polo-shirts?page=1&rb_snize_facet10=Stripe">Stripe</a>


</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Activewear_">

  <a href="https://messinahembry.com/collections/mens-vintage-activewear?page=1&rb_snize_facet1=Tracksuit+Top">Track Tops</a>
  <a href="https://messinahembry.com/collections/mens-vintage-activewear?page=1&rb_snize_facet1=Tracksuit+Bottoms">Joggers</a>
  <a href="https://messinahembry.com/collections/mens-vintage-activewear?page=1&rb_snize_facet1=Shorts">Shorts</a>
  <a href="https://messinahembry.com/collections/mens-vintage-activewear?page=1&rb_snize_facet1=Top">Tops</a>
  <a href="https://messinahembry.com/collections/mens-vintage-activewear?page=1&rb_snize_facet10=Vintage">Vintage</a>
  <a href="https://messinahembry.com/collections/mens-vintage-activewear?page=1&rb_snize_facet10=Waterproof">Waterproof</a>


</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Trousers__Jeans_">

<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet1=Jeans">Jeans</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet1=Trousers">Trousers</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet10=Slim+%2F+Fitted">Slim/Fitted</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet10=Corduroy">Corduroy</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet10=Skinny">Skinny</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet10=Cargo">Cargo</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet10=Vintage">Vintage</a>
<a href="https://messinahembry.com/collections/mens-trousers-jeans?page=1&rb_snize_facet10=Straight">Straight Leg</a>
        
</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Shorts_">

<a href="https://messinahembry.com/collections/mens-vintage-shorts?page=1&rb_snize_facet10=Cargo">Cargo</a>
<a href="https://messinahembry.com/collections/mens-vintage-shorts?page=1&rb_snize_facet10=Denim">Denim</a>
<a href="https://messinahembry.com/collections/mens-vintage-shorts?page=1&rb_snize_facet10=Sportswear">Sportswear</a>
<a href="https://messinahembry.com/collections/mens-vintage-shorts?page=1&rb_snize_facet10=Vintage">Vintage</a>
<a href="https://messinahembry.com/collections/mens-vintage-shorts?page=1&rb_snize_facet10=Check">Check</a>
<a href="https://messinahembry.com/collections/mens-vintage-shorts?page=1&rb_snize_facet10=Stripe">Stripe</a>

</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Designer_Suits__Tailoring_">

  <a href="https://messinahembry.com/collections/mens-vintage-suits-tailoring?page=1&rb_snize_facet10=Stripe">Stripe</a>
  <a href="https://messinahembry.com/collections/mens-vintage-suits-tailoring?page=1&rb_snize_facet10=Slim+%2F+Fitted">Slim</a>
  <a href="https://messinahembry.com/collections/mens-vintage-suits-tailoring?page=1&rb_snize_facet10=Vintage">Vintage</a>
  <a href="https://messinahembry.com/collections/mens-vintage-suits-tailoring?page=1&rb_snize_facet10=Check">Check</a>

</div>
  
<div class="sub-menu for_Mens_Vintage_and_Preloved_Shoes__Trainers_">
    
    
</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Clothing_">
    
<a href="https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/top">Tops</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/jacket">Jackets</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/jumper">Jumpers</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/jeans">Jeans</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/skirt">Skirts</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/dress">Dresses</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/t-shirt">T-Shirts</a><a href="https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/shorts">Shorts</a><a href=" https://messinahembry.com/collections/womens-vintage-preloved-designer-clothing/tracksuit-top">Tracksuit Tops</a>
    
</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_T-Shirts,_Tops__Polo_Shirts_">

  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Shirts">Shirts</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Top">Tops</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=T-Shirt">T Shirts</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Polo+Shirt">Polo Shirts</a>

</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_T-Shirts_Tops__Polo_Shirts_">
    
    <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Shirts">Shirts</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Top">Tops</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=T-Shirt">T Shirts</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Polo+Shirt">Polo Shirts</a>
    
</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Jumpers__Knitwear_">

  <a href="https://messinahembry.com/collections/womens-vintage-jumpers-knitwear?page=1&rb_snize_facet1=Sweater%7CJumper">Sweaters/Jumpers</a>
  <a href="https://messinahembry.com/collections/womens-vintage-jumpers-knitwear?page=1&rb_snize_facet1=Hoodie">Hoodies</a>
  <a href="https://messinahembry.com/collections/womens-vintage-jumpers-knitwear?page=1&rb_snize_facet1=Cardigan">Cardigans</a>
  <a href="https://messinahembry.com/collections/womens-vintage-t-shirts-tops-polo-shirts?page=1&rb_snize_facet1=Polo+Shirt">Polo Shirts</a>

</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Dresses__Skirts_">

    <a href="https://messinahembry.com/collections/womens-vintage-dresses-skirts?page=1&rb_snize_facet1=Skirt">Skirts</a>
    <a href="https://messinahembry.com/collections/womens-vintage-dresses-skirts?page=1&rb_snize_facet1=Dress">Dresses</a>


</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Dresses__Skirts_">
    
    
</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Coats__Jackets_">

  <a href="https://messinahembry.com/collections/womens-vintage-jackets-coats?page=1&rb_snize_facet1=Jacket">Jackets</a>
  <a href="https://messinahembry.com/collections/womens-vintage-jackets-coats?page=1&rb_snize_facet1=Blazer">Blazers</a>
  <a href="https://messinahembry.com/collections/womens-vintage-jackets-coats?page=1&rb_snize_facet1=Coat">Coats</a>
  <a href="https://messinahembry.com/collections/womens-vintage-jackets-coats?page=1&rb_snize_facet1=Gilet">Gilets</a>

</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Activewear_">
  <a href="https://messinahembry.com/collections/womens-vintage-activewear?page=1&rb_snize_facet1=Tracksuit+Top">Track Tops</a>
  <a href="https://messinahembry.com/collections/womens-vintage-activewear?page=1&rb_snize_facet1=Tracksuit+Bottoms">Joggers</a>
  <a href="https://messinahembry.com/collections/womens-vintage-activewear?page=1&rb_snize_facet1=Shorts">Shorts</a>
  <a href="https://messinahembry.com/collections/womens-vintage-activewear?page=1&rb_snize_facet1=Leggings">Leggings</a>
  <a href="https://messinahembry.com/collections/womens-vintage-activewear?page=1&rb_snize_facet1=Jacket">Jackets</a>
</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Jeans__Leggings_">

  <a href="https://messinahembry.com/collections/womens-vintage-trousers-jeans?page=1&rb_snize_facet10=Slim+%2F+Fitted">Slim</a>
  <a href="https://messinahembry.com/collections/womens-vintage-trousers-jeans?page=1&rb_snize_facet10=Skinny">Skinny</a>
  <a href="https://messinahembry.com/collections/womens-vintage-trousers-jeans?page=1&rb_snize_facet10=Flare">Flares</a>
  <a href="https://messinahembry.com/collections/womens-vintage-activewear?page=1&rb_snize_facet1=Leggings">Leggings</a>
  <a href="https://messinahembry.com/collections/womens-vintage-trousers-jeans?page=1&rb_snize_facet10=Corduroy">Corduroy</a>
  <a href="https://messinahembry.com/collections/womens-vintage-trousers-jeans?page=1&rb_snize_facet10=Straight">Loose</a>

</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Shirts_">

  <a href="https://messinahembry.com/collections/womens-vintage-shirts?page=1&rb_snize_facet10=Vintage">Vintage</a>
  <a href="https://messinahembry.com/collections/womens-vintage-shirts?page=1&rb_snize_facet10=Stripe">Striped</a>
  <a href="https://messinahembry.com/collections/womens-vintage-shirts?page=1&rb_snize_facet10=Check">Checked</a>
  <a href="https://messinahembry.com/collections/womens-vintage-shirts?page=1&rb_snize_facet10=Print">Print</a>

</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Shorts_">

    <a href="https://messinahembry.com/collections/womens-vintage-shorts?page=1&rb_snize_facet10=Vintage">Vintage</a>
    <a href="https://messinahembry.com/collections/womens-vintage-shorts?page=1&rb_snize_facet10=Sportswear">Sportswear</a>
    <a href="https://messinahembry.com/collections/womens-vintage-shorts?page=1&rb_snize_facet10=Corduroy">Corduroy</a>
    <a href="https://messinahembry.com/collections/womens-vintage-shorts?page=1&rb_snize_facet10=Denim">Denim</a>
    <a href="https://messinahembry.com/collections/womens-vintage-shorts?page=1&rb_snize_facet10=Cargo">Cargo</a>

</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Designer_Suits__Tailoring_">
    
</div>
  
<div class="sub-menu for_Womens_Vintage_and_Preloved_Shoes__Trainers_">
    
</div>



  
</div>
{% render 'searchanise-navigation' %}

<style>
  /*.collection-desc {display:none;}*/
  
  #snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode span.snize-overhidden {
    padding: 15px 10px 5px 10px;
}
  
  .sub-menu {display:none;}
  
  .Mens_Vintage_and_Preloved_Designer_Clothing_ .for_Mens_Vintage_and_Preloved_Designer_Clothing_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Shirts_ .for_Mens_Vintage_and_Preloved_Designer_Shirts_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Jumpers__Knitwear_ .for_Mens_Vintage_and_Preloved_Designer_Jumpers__Knitwear_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Coats__Jackets_ .for_Mens_Vintage_and_Preloved_Designer_Coats__Jackets_ {
    display: flex;
  }
    
  .Mens_Vintage_and_Preloved_Designer_T-Shirts__Polo_Shirts_ .for_Mens_Vintage_and_Preloved_Designer_T-Shirts__Polo_Shirts_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Activewear_ .for_Mens_Vintage_and_Preloved_Designer_Activewear_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Trousers__Jeans_ .for_Mens_Vintage_and_Preloved_Designer_Trousers__Jeans_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Shorts_ .for_Mens_Vintage_and_Preloved_Designer_Shorts_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Designer_Suits__Tailoring_ .for_Mens_Vintage_and_Preloved_Designer_Suits__Tailoring_ {
    display: flex;
  }
  
  .Mens_Vintage_and_Preloved_Shoes__Trainers_ .for_Mens_Vintage_and_Preloved_Shoes__Trainers_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Clothing_ .for_Womens_Vintage_and_Preloved_Designer_Clothing_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_T-Shirts_Tops__Polo_Shirts_ .for_Womens_Vintage_and_Preloved_Designer_T-Shirts_Tops__Polo_Shirts_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Jumpers__Knitwear_ .for_Womens_Vintage_and_Preloved_Designer_Jumpers__Knitwear_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Dresses__Skirts_ .for_Womens_Vintage_and_Preloved_Designer_Dresses__Skirts_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Coats__Jackets_ .for_Womens_Vintage_and_Preloved_Designer_Coats__Jackets_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Activewear_ .for_Womens_Vintage_and_Preloved_Designer_Activewear_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Jeans__Leggings_ .for_Womens_Vintage_and_Preloved_Designer_Jeans__Leggings_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Shirts_ .for_Womens_Vintage_and_Preloved_Designer_Shirts_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Shorts_ .for_Womens_Vintage_and_Preloved_Designer_Shorts_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Designer_Suits__Tailoring_ .for_Womens_Vintage_and_Preloved_Designer_Suits__Tailoring_ {
    display: flex;
  }
  
  .Womens_Vintage_and_Preloved_Shoes__Trainers_ .for_Womens_Vintage_and_Preloved_Shoes__Trainers_ {
    display: flex;
  }
  
  .Shop_All_ .for_Shop_All_ {
    display: flex;
  }
  
  .show-read-more .more-text{
        display: none;
    }
  
  .collection-desc.show-read-more {
    display: inline-block;
    padding: 0 30px;
}
  div.snize-collection-mode div.snize-main-panel-collection-results-found {
    margin-left: 0;
  }
  @media screen and (max-width:500px) {
  .collection-desc.show-read-more {
    display: inline-block;
    padding: 0 10px;
}
  }
  
  .collection-desc.show-read-more {
    padding-bottom: 10px;
}
  
  .collection-desc p {
  padding-left: 0 !important;
}
  
  .read-more-content {
    display:none;
  }
  
</style>

<script>
jQuery( document ).ready(function() {
  
  
    $("body").attr("class", $("#this-collection").attr("class").split(" ").join("_").replace("&", "").replace("&", "").replace("'", "").replace(",", ""));
    $('body').addClass('template-collection');

  $("<p class='rml-cont'><a class='read-more-link' href='#'>Read more.</a></p>").insertAfter(".show-read-more p:first-of-type");
  
  
    $(".read-more-link").click(function(){
      $('.read-more-content').show();
      $('.show-read-more p').show();
      $('.rml-cont').remove();
      $(this).remove();
    });
  
  
});
</script>