<div class="page-header cf">
  <div class="container cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  </div>

<div class="container cf">
  <div class="user-content row-spacing">
    
    
    <div class="two-row">
      <div class="two-row-col trc-1">
        
        
        <p>Postage services are provided at checkout.</p>

<p>We aim to ship all orders the very next working day. All items are shipped using Royal Mail services.</p>

<p>- UK standard deliveries 3-5 working days</p>
        
<p>- UK Next Day Deliveres are dispatched the same day if ordered before 1pm. Next day deliveries exclude Saturdays.</p>

<p>- Europe deliveries 5-12 working days</p>

<p>- Worldwide deliveries 7-20 working days</p>

<p>If you haven't received your order within these delivery time frames please contact us and we will track down your order.</p>
      
        <h4>Delivery Times, Customs & Duty </h4>

        <p>Please keep in mind that we cannot guarantee standard delivery times as they are only guidelines. Hence we are unable to refund delivery costs in the event that the delivery date does not meet the provided estimates *This excludes next day delivery services*. Unfortunately, deliveries cannot be made on a Sunday or on a Bank Holiday.</p>

 

<p>Any customs or import duties are charged once the parcel reaches its destination country. These charges must be paid by the recipient of the order. Unfortunately, we have no control over these charges and cannot estimate what the cost will be as customs policies and import duties vary greatly between countries. We suggest that you contact your local customs office for current charges before you order to avoid any unexpected charges.</p>

<p>If you have any further questions regarding the returns or delivery policy, check out our FAQs or email info@messinahembry.com and one of our Messina Hembry representatives will try to get back to you within 24 hours.</p>
        
        
      </div>
    <div class="two-row-col trc-2">
      
      <img style="box-shadow: 0 0 1px rgba(0,0,0,.4);" src="{{ 'messina-p-5.jpg' | asset_url }}">
      
      </div>
    </div>
    
    
    
    

    
    
    
  </div>
</div>

    <div style="display:none;" class="collection-row">
      <div class="{% unless settings.use_fullwidth_layout %}container{% endunless %} padded-row">
<h4 class="align-center hometitle">Latest Products</h4>
        <div class="collection-listing related-collection cf row-spacing">
          <div class="product-list product-list--per-row-{{ section.settings.products_per_row }} product-list--image-shape-{{ settings.prod_thumb_shape }}">
            <div class="searchanise-recommendations" id="4S6L4G8Y3B3I1I2"></div>
          </div>
        </div>

      </div>   
    </div>


<div style="display:none;">{{ page.content }}</div>


<style>
  
   .snize-recommendation .snize-recommendation-title {
    display: none;
}
  
  .padded-row {
    padding-top: 20px;
  }
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .template-page .user-content.row-spacing {
    max-width: 100%;
}
  
  .two-row-col {
    width: 48%;
    float: left;
}
  
  .trc-1 {
    margin-right:2%;
  }
  .trc-2 {
    margin-left:2%;
  }
  
  .two-row {
    width: 100%;
    clear: both;
    padding-bottom: 50px !important;
    display: inline-block;
}
  
  /*.collection-row div {
    width: 50%;
    float: left;
}*/
  
  @media screen and (max-width:800px) {
  .two-row-col {
    width: 100%;
    float: left;
    margin: 0 !important;
}
    .two-row {
    padding-bottom: 0px !important;
    }
  }
  
  .user-content a.text-link {
    border-bottom: none;
  }
  
  .page-header {
    background-color: #197bbd;
    margin-bottom: 50px;
    width: 100% !important;
}
  
  .majortitle {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 10px 0 10px;
    letter-spacing: 10px;
    text-align:left !important;
}
  
  @media screen and (max-width:900px) {
  h1 {
    font-size: 23px;
}
    .majortitle {
    padding: 15px 0 15px;
    }
  }
  
  ul {
    margin-left: 0;
    margin-right: 0;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
  }
  
  .page-header {
    padding-bottom: 0;
}
  
    </style>


<script type="text/javascript">
  
  jQuery( document ).ready(function() {
    
    
    jQuery("h1").html("Delivery");
    
    
});
  
</script>